body{
    background-color: aqua;

}
div{
    padding: 20px;
   background-color:blue;
   font-size: xx-large;
}
    p{
        background-color: brown ;
        color: black !important ;
font-size: xx-large;   
 }
