body{
    background-color: rgb(0, 255, 0);

}
div{
    padding: 20px;
   background-color:blue;
   font-size: xx-large;
}
    p{
        background-color: brown ;
        color: black  ;
   font-size: xx-large;   
 }
.tahseen{
    background-color: cornflowerblue;
}
#ahmad{
    background-color: rgb(184, 109, 11);
}